.div-color{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    border: 1px solid darkgrey;
    margin-bottom: 20px;
}

.boton{
    width: 40%;
    height: 30px;
    background-color: beige;
    border: 1px solid grey;
    margin-bottom: 10px;
}

#carritoCompras{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border: 1px solid darkgrey;
    padding-left: 20px;
}